h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
button {
  border-radius: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  background-color: blue;
  width: fit-content;
}
body {
  background-color: papayawhip;
}
.mainBody {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
